.navbar {
    border-radius: 0px;
    border: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 66px;
    top: 0;
    position: sticky;
    z-index: 500;
}

.container-fluid{
    margin: 0 auto;
    padding: 8px;
}

.navbar-brand{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}

.menuitems {
    font-size: 15px;
    background-color: #f8f8f8;
}

.jumbotron h1 {
	color: teal;
}

.jumbotron {
    background-color: purple;
    margin: 0 auto;
}

.parallax__container {
    position: absolute;
    clip: rect(0, auto, auto, 0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}
 
.parallax {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0,0,0);
 
    /* BG behaviour */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content {
    font-size: 15px;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}

.title {
    font-size: 90px;
    font-family: 'Lobster Two', cursive;
    margin: auto;
    margin-top: -200px;
    text-shadow: 0 0 7px rgba(0, 0, 0, .8);
}

.ccakes {
    color: #fc84af;
}

.cakes {
    color:#00acc8;
}

.cookies {
    color: #f5e452;
}

.container{
    width: 100%;
    height: 400px;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
    padding: 15px;
    position: relative;
}

.container--full {
    height: 550px;
}

.container--small {
    height: 300px;
}

.container--tiny {
    height: 200px;
    background-color: #e8c5da;
}

.container--large{
    height: flex;
}

.middle{
    background-color: #9a9aefd9;
    color: #ffffff;
}

.block{
    max-width: 1000px;
}
.block2{
    max-width: 880px;
}
.crop{
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}
.crop2{
    height: 320px;
    width: 220px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}

.fit2{
    height:100%;
}
.fit{
    width: 100%; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    vertical-align: middle;
  }

.photo{
    margin: 0 auto;
    text-align: center;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 400px;
    line-height: 1.5;
    padding-right: 20px;
}

.contact{
    text-align: center;
    margin: 0 auto;
}

.smallimg {
	height: 75px;
	width: 75px;
	padding: 5px;
}

.nc{
    font-size: 40px;
    color: black;
    font-family: 'Lobster Two', cursive;
    margin: 0 auto;
}

a {
    color:black;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

@media only screen and (max-width : 615px) {
    .container--tiny {
      height: 300px;
    }
  }

/* font-family: 'Lobster Two', cursive;
font-family: 'Unica One', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Sacramento', cursive; */