.jumbotron h1 {
	color: teal;
}

.jumbotron {
    background-color: purple;
    margin: 0 auto;
}

body {
    color: azure;
    font-size: 1.1em;
}

.navbar {
    border-radius: 0px;
    margin: 0 auto;
}

.menuitems {
    font-size: 15px;
}

.cupcake {
    width: 100%;
    margin: 0 auto;
}

.content {
    font-size: 15px;
    color: black;
    margin: 0 auto;
    padding: 40px;
}


.parallax__container {
    position: absolute;
    clip: rect(0, auto, auto, 0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}
 
.parallax {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0,0,0);
 
    /* BG behaviour */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}